#gameArea > div > div {
  width: 40px;
  height: 40px;
  background-color: #eee;
  display: inline-block;
  margin: 2px;
  cursor: default;
  text-align: center;
  color: white;
  line-height: 40px;
}

#gameArea > div {
  font-family: "Inter", sans-serif;
  height: 45px;
  display: block;
  position: relative;
  display: flex; /*added*/
  flex-direction: row; /*added*/
}

#gameArea div.floor-map {
  background-color: #fafa64;
  cursor: pointer;
  color: black;
}

#gameArea div.boom {
  background-image: url(./../assets/images/3dBomb.png);
  background-size: contain;
  background-color: #e1274b;
  cursor: pointer;
}

#gameArea div.hidden {
  background-color: #035cc3 !important;
  background-image: none !important;
  color: #035cc3 !important;
  cursor: pointer;
}
